@page "/changePassword"
@using CWBlazor.Shared.Models
@using CWBlazor.Shared.Contracts.Wrappers
@using CWBlazor.Client.Extencions
@inject IAccountDataProvider DataProvider
@inject IJSRuntime JsRuntime
@inject NavigationManager Navigation

<div id="resetPassword">
    <div class="container">
        <div id="resetPassword-row" class="row justify-content-center align-items-center">
            <div id="resetPassword-column" class="col-md-6">
                <div id="resetPassword-box" class="col-md-12">
                    <EditForm Model="model" OnValidSubmit="OnValid" id="resetPassword-form" class="form">
                        <h3 class="text-center text-info">Resrt password</h3>
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                        @if (isError)
                        {
                            <ErrorComponent Error="@error"></ErrorComponent>
                        }
                        <div class="form-group">
                            <InputText type="password" @bind-Value="model.OldPassword" class="form-control" placeholder="Old password"></InputText>
                        </div>
                        <div class="form-group">
                            <InputText type="password" @bind-Value="model.Password" class="form-control" placeholder="New password"></InputText>
                        </div>
                        <div class="form-group">
                            <InputText type="password" @bind-Value="model.ConfirmPassword" class="form-control" placeholder="Confirm password"></InputText>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-info btn-md w-100" disabled="@isDisabled">submit</button>
                        </div>
                        <div id="resetPassword-link" class="row">
                            <a href="login" class="nav-item text-info col-md-6">Login</a>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private ChangePasswordRequest model = new ChangePasswordRequest();
    private ErrorResponse error = null;
    bool isDisabled = false;
    bool isError = false;

    private async Task OnValid()
    {
        isDisabled = true;
        var msg = await DataProvider.ChangePassword(model);
        {
            if (msg.IsSuccess)
            {
                var result = msg.Value;
                var user = await JsRuntime.GetUserInfoAsync();
                await JsRuntime.SetUserInfoAsync(new UserInfo { Email = user?.Email, Token = result.Token, RefreshToken = result.RefreshToken });
                Navigation.NavigateTo("/");
            }
            else
            {
                error = msg.Error;
                isError = true;
            }

            isDisabled = false;
        }
    }


    protected override async Task OnInitializedAsync()
    {
        var user = await JsRuntime.GetUserInfoAsync();
        if (string.IsNullOrWhiteSpace(user?.Email))
        {
            Navigation.NavigateTo("/");
        }

    }
}