@using CWBlazor.Shared.Contracts.Wrappers
@if (Error?.Errors?.InvalidParams != null)
{
    foreach (var error in Error.Errors.InvalidParams)
    {
        <div class="text-danger">
            @error.Name : @string.Join(", ", error.Reason)
        </div>
    }
}
@if (Error?.Errors?.SummaryErrors != null)
{
@foreach (var error in Error.Errors.SummaryErrors)
{
    <div class="text-danger">
        @error
    </div>
}
}

@code {
    [Parameter]
    public ErrorResponse Error{ get; set; }
}